/* ============================================= */
/*                     Grid                      */
/* ============================================= */

.grid {
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(auto, 208px));
    grid-template-rows: repeat (minmax(auto, 208px));
}