/* ============================================= */
/*                   Images                      */
/* ============================================= */

img {
    width: 300px;
    height: 300px;
    border: solid $border-color 4px;
    border-radius: 10%;
    @media (min-width: $bp1) {
        width: auto;
        height: auto;
    }
}
