/* ============================================= */
/*                Search Bar                     */
/* ============================================= */

#search {
    border: solid $border-color 2px;
    border-radius: 5px;
    max-width: 80%;
    height: 40px;
    margin: 30px;
    background-color: $secondary;
    &:active, &:hover {
        border: solid black 1px;
        transition: 2s ease-in;
    }
}
.input {
    @media (min-width: $bp1) {
        max-width: 80%;
    }
}