/* ============================================= */
/*                Variables                      */
/* ============================================= */

//color

$primary: rgb(245, 245, 245);
$secondary: rgb(224, 224, 224);
$border-color: rgb(235, 235, 235);

//breakpoints

$bp1: 768px;
$bp2: 1024px;